<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCIi2jAdpOT0AAqQYbZ1DCpIJeQGoBwCQk</string>
	<key>GCM_SENDER_ID</key>
	<string>654470391063</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>hwangseunghye.KanbanDo</string>
	<key>PROJECT_ID</key>
	<string>kanbando-d932f</string>
	<key>STORAGE_BUCKET</key>
	<string>kanbando-d932f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:654470391063:ios:4479fa8ae99cfd256dc352</string>
</dict>
</plist>