<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>704886602405-32igoa0a2gccfd6i92psr0ia6261nb8b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.704886602405-32igoa0a2gccfd6i92psr0ia6261nb8b</string>
	<key>API_KEY</key>
	<string>AIzaSyAwvTWI1fUY-liuJoPtgD6kmQPiGpmt5wA</string>
	<key>GCM_SENDER_ID</key>
	<string>704886602405</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>hwangseunghye.KanbanDo</string>
	<key>PROJECT_ID</key>
	<string>kanbando-3a998</string>
	<key>STORAGE_BUCKET</key>
	<string>kanbando-3a998.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:704886602405:ios:9301472cfb6969d6dc6b4c</string>
</dict>
</plist>